<nav class="navbar navbar-btn">
    <div class="">
        <ul class="navbar navbar-btn">
            <li>
                <a href="/Home/Index">Home</a>
            </li>
            <li>
                <a href="/Home/GetId">About</a>
            </li>
            <li>
                <a href="/Home/Contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>