
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>_Layout</title>
</head>
<body>
    @Html.Partial("_Header")
    <div> 
        @RenderBody()
    </div>
    @Html.Partial("_Footer")

<script src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>
